<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847995349766-qum4av8hecrn3l2rlium37ij629quobm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847995349766-qum4av8hecrn3l2rlium37ij629quobm</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ3HR0SeaNNmW6biRICk6kSbFuKtBoVR8</string>
	<key>GCM_SENDER_ID</key>
	<string>847995349766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdullahayan.Boca</string>
	<key>PROJECT_ID</key>
	<string>boca-f6bfc</string>
	<key>STORAGE_BUCKET</key>
	<string>boca-f6bfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847995349766:ios:d2cac3fdd4bcfe8c52cc87</string>
</dict>
</plist>